<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
           {{title}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    Filter By:
                </div>
                <div class="col-md-5">
                    <input type="text" placeholder="Enter here" [(ngModel)]="valueEnter"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                  <h4> Number of product is search : {{(products | filterProduct : valueEnter).length}} </h4>
                </div>
            </div>
            <div class="table-rensive" *ngIf="showTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-success" (click)="toggleImage()"> Show Image</button>
                            </th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of products | filterProduct : valueEnter">
                            <td><img [src]="prod.imageUrl" *ngIf="showImg" [style.width.px]="imageWidth"/></td>
                            <td style="color: magenta">{{prod.productName | myUpper:'upper'}}</td>
                            <td>{{prod.productCode |  myUpper:'lower'}}</td>
                            <td>{{prod.releaseDate}}</td>
                            <td [ngStyle]="{'background-color':prod.price<20?'teal':'orange'}">
                                {{prod.price | discount : 5 | currency:'GBP'}}</td>
                            <td>
                                <app-star  [rating]="prod.starRating" (ratingClicked)="OnDataReceive($event)"></app-star>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
</div>  